<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Medication
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="addMedication()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let medication of medications; index as i">
      <ion-item class="ion-padding-bottom">
        Name: {{medication.name}}<br>
        Manufacturer: {{medication.manufacturer}}<br>
        Take until: {{endDate}}
      </ion-item>
      <ion-item-options class="ion-padding-bottom" side="end">
        <ion-item-option (click)="editMedication(i)">Edit</ion-item-option>
        <ion-item-option color="danger" (click)="deleteMedication(i)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
