<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Medication
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="addMedication()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="ion-padding-top">
    <ion-item-sliding *ngFor="let medication of medications | async; index as i">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/pill-exa.jpg" />
        </ion-thumbnail>
        {{medication.name}} x {{medication.amountTaken}}
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="editMedication(medication.id)">Edit</ion-item-option>
        <ion-item-option color="danger" (click)="deleteMedications(medication.id)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>