<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Today's Medication
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header justify-content-center align-items-center>
      To Be Taken
    </ion-list-header>
    <ng-container>
      <ng-container *ngFor="let med of history | async">
        <ion-item *ngIf="!med.taken">
          {{med.medication}}
          <ion-checkbox slot="end" checked="false" color="success" (ionChange)="takeMedication(med.id)">
          </ion-checkbox>
        </ion-item>
      </ng-container>
    </ng-container>
    <ion-list-header>
      Taken
    </ion-list-header>
    <ng-container>
      <ng-container *ngFor="let med of history | async">
        <ion-item *ngIf="med.taken">
          {{med.medication}}
          <ion-checkbox slot="end" checked="true" color="success" (ionChange)="removeHistory(med.id)">
          </ion-checkbox>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>

</ion-content>