<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Today's Medication
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-list-header justify-content-center align-items-center>
      To Be Taken
    </ion-list-header>
    <ng-container *ngFor="let med of medications">
      <ion-item *ngIf="med.taken == false">
        {{med.name}}
        <ion-checkbox slot="end" checked="false" color="success" [(ngModel)]="med.taken" (ionChange)="updateHist()"></ion-checkbox>
      </ion-item>
    </ng-container>
    <ion-list-header>
      Taken
    </ion-list-header>
    <ng-container *ngFor="let med of medications">
      <ion-item *ngIf="med.taken">
        {{med.name}}
        <ion-checkbox slot="end" checked="true" color="success" [(ngModel)]="med.taken" (ionChange)="updateHist()"></ion-checkbox>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>