<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Medication History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ng-container *ngFor="let day of history">
      <ion-list-header>
        {{day.date | date: 'dd/MM/yyyy'}}
      </ion-list-header>
      <ion-item *ngFor="let med of day.medications" [color]="med.taken ? 'success' : 'danger'">
        {{med.name}}
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>