<ion-header>
  <ion-toolbar>
    <ion-title>{{btnText}} Medication</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="cancelModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Image: </ion-label>
      <ion-button fill="clear" id="open-image-example">
        <ion-thumbnail slot="end">
          <img src="assets/images/pill-exa.jpg" />
        </ion-thumbnail>
      </ion-button>
      <ion-popover trigger="open-image-example" show-backdrop="false">
        <ng-template>
          <ion-label class="ion-padding-top ion-padding-bottom">Coming Soon!</ion-label>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item>
      <ion-label>Name: </ion-label>
      <ion-input type="text" [(ngModel)]="name" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Manufacturer: </ion-label>
      <ion-input type="text" [(ngModel)]="manufacturer" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Amount to take: </ion-label>
      <ion-input type="tel" [(ngModel)]="quantity" maxlength="2" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Start Date: </ion-label>
      <ion-label>{{startDate | date: 'dd/MM/yyyy'}}</ion-label>
      <ion-button fill="clear" id="open-modal1">
        <ion-icon icon="calendar"></ion-icon>
      </ion-button>
      <ion-modal trigger="open-modal1">
        <ng-template>
          <ion-content>
            <ion-datetime #modalDatetime1 show-default-buttons presentation="date"
              (ionChange)="startDate = modalDatetime1.value">
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item>
      <ion-label>End Date: </ion-label>
      <ion-label>{{endDate | date: 'dd/MM/yyyy'}}</ion-label>
      <ion-button fill="clear" id="open-modal2">
        <ion-icon icon="calendar"></ion-icon>
      </ion-button>
      <ion-modal trigger="open-modal2">
        <ng-template>
          <ion-content>
            <ion-datetime #modalDatetime2 show-default-buttons presentation="date"
              (ionChange)="endDate = modalDatetime2.value">
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-button expand="full" (click)="closeModal()">{{btnText}}</ion-button>
  </ion-list>

</ion-content>

<!-- <div class="grid-item">
  <h2>Datetime in Overlay</h2>
  <ion-button id="open-modal">Open Datetime Modal</ion-button>
  <ion-modal trigger="open-modal">
    <ion-content force-overscroll="false">
      <ion-datetime></ion-datetime>
    </ion-content>
  </ion-modal>
</div> -->